/* ============================================================
   Custom CSS for Nate's Library
   File: custom.css
   Author: Nathanaël Canet
   Description: Customs personnalisés pour le projet Flask
   ============================================================ */


/* ===========================
   1. Custom Navbar Styles
   =========================== */
.navbar-brand {
    width: 15vw;
}

a.nav-link.active {
    font-family: TripSans-Medium !important;
    font-size: 1em !important;
    color: #000000 !important;
    display: block;
    padding: 10px 15px !important;
    border-radius: 10px;
}

a.nav-link.active:hover {
    background-color: #f2f2f2 !important;
}

nav.navbar.navbar-expand-lg.navbar-dark.p-0 {
    width: 70%;
}

div.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a.btn {
    font-family: TripSans-Medium !important;
    font-size: 1em;
    background-color: #000000;
    color: #ffffff;
    text-wrap: nowrap;
    padding: 10px 15px;
    border-radius: 10px;
}

a.btn:hover {
    background-color: #252525;
    color: #ffffff;
}


i.fa-regular.fa-heart {
    padding: 10px 15px !important;
   
    color: #000000;
    /* outline effect */
    transition: color 0.3s, text-shadow 0.3s;
    font-size: 1.4em;
    /* optional, for visibility */
    cursor: pointer;
}

i.fa-regular.fa-heart:hover {
    color: #33E0A1;

}

.navbar-toggler-icon{
    color: #000000 !important;
    border-radius: 10px;
}


@media screen and (max-width: 768px) {
    .navbar-brand {
        width : 25vw;
    }

}

/* ===========================
   2. Custom Search Bar Styles
   =========================== */

form.form-inline{
    display: flex;
    flex-direction : column;
    justify-content: flex-start;
    align-items: start;
    width: 70%;
    height: fit-content;
}

input.form-control.mr-sm-2 {
    outline: none !important;
    width : 100%;
    border-radius: 30px;
    border: none;
    outline: none;
    height: 50px;
    /* Adjust height */
    padding: 10px;
    /* Inner spacing */
    margin: 10px;
    font-size: 0.8em;
    font-family: TripSans-Regular !important;
    font-size: 0.9em;
    /* Text size */
}

.form-control.mr-sm-2:focus {
    outline: none;}

.form-select{
    width: fit-content;
    border-radius: 30px !important;
    margin-inline : 10px;
    font-family: TripSans-Bold !important;
    font-size: 0.8em;
    margin-bottom: 5px;
}
.form-select:focus{
    outline: none !important;
}

.form-select option{
    font-family: TripSans-Regular !important;
    font-size: 0.8em;
    /* Text size */
}

/* ===========================
   3. Custom shop item
   =========================== */

   .col{
     margin: 10px;
  padding: 5px;

  min-width: 0;
  display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
   

   .card.shadow-sm{
    height : max-content !important;
    border : none;
    box-shadow : none;
   }

   .card-text{
    font-family: TripSans-Medium !important;
    font-size: 0.8em;
    color: #000000;
    max-width: fit-content;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
   }

   .card-body{
    width : fit-content;
   }

   .card-text strong{
    width: fit-content;
     display: block; 
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}