/* ============================================================
   Custom CSS for Nate's Library
   File: style.css
   Author: Nathanaël Canet
   Description: Styles personnalisés pour le projet Flask
   ============================================================ */

/* ===========================
   0. Fonts Imports
   =========================== */
@font-face {
    font-family: TripSans-Medium;
    src: url(/static/fonts/TripsSans/TripSans-Medium.ttf) format('truetype');
}
@font-face {
    font-family: TripSans-Bold;
    src: url(/static/fonts/TripsSans/TripSans-Bold.ttf) format('truetype');
}
@font-face{
    font-family: TripSans-Ultra;
    src: url(/static/fonts/TripsSans/TripSans-Ultra.ttf) format('truetype');
}

@font-face{
    font-family: TripSans-Regular;
    src: url(/static/fonts/TripsSans/TripSans-Regular.ttf) format('truetype');
}
/* ===========================
   1. Global Styles
   =========================== */

body{
    min-height: 100vh;
    width : 100vw;
    height : max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ===========================
   2. Navbar Styles
   =========================== */
.style-logo-settings{
    width : 100%;
}

.style-container-login-and-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width : 15vw;
}

.style-book-list{
    width : fit-content;

}

.style-container-created-by{
    display: flex;
    justify-content: center;
    align-items: center;
    width : 100%;
    margin-block : 10px 30px;
}

.style-created-by{
    font-family: TripSans-Regular;
    font-size: 0.8em;
    color: #000000;
}

#style-name{
    margin:0px
}

.style-litteraly-me{
    border-radius: 50px;
    width : 2em;
}
#style-created-by-text{
    margin-bottom : 0px;
}
#style-name{
    text-decoration: none;
    font-weight: bold;
}

.style-created-by-link{
    text-decoration: none;
    color: #000000;
}

.style-created-by-link:hover{
    text-decoration: underline;
}

/* ===========================
   3. Accueil Title Styles
   =========================== */
.style-accueil-title{
    font-family : TripSans-Ultra;
    font-size : 2.7em;
    display: inline-block;
    text-align: center;
}

.style-container-accueil-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width : 100%;
    margin: 20px 0px 15px 0px; 
}

.style-container-created-by{
    display: flex;
}


/* ===========================
   4. Accueil Styles
   =========================== */
.accueil{
    width: 70%;
    height: fit-content;
}

.style-form-search{
    height:fit-content;
    width : 100%;
    display : flex;
    justify-content: center;
    align-items: center;
}

.style-button-search{
    padding-inline : 15px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 30px;
    border : none;
}
.style-button-search:hover{
    color: #33E0A1;
}

#style-word-search{
    padding-block: 8px;
    height : fit-content;
    font-family: TripSans-Medium;
    font-size: 1em;

    display:block;
    background-color: #33E0A1;

}

#style-word-search:hover{
    color: #ffffff !important;
    background-color: #000000 !important;
}

#style-word-search:hover{
    
    color: #000000;
}

.style-form-input{
    width: 80%;
    height: 50px;
    border : none;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 10px 15px;
}

.style-form-input:focus{
    outline: none;
}

.style-search-bar-container{
    padding : 5px;
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:
        0 -1px 3px rgba(0, 0, 0, 0.2),
        /* Top shadow (stronger and larger) */
        0 1px 3px rgba(0, 0, 0, 0.2),
        /* Bottom shadow (stronger and larger) */
        0 3px 5px rgba(0, 0, 0, 0.2);
    /* Bottom shadow (1px lower + slightly stronger) */
    border-radius: 30px;
}


@media screen and (max-width: 768px) {
    .accueil{
        width: 90%;
    }   
}

/* ===========================
   5. Footer Styles
   =========================== */
   .style-footer-container{
    font-family: TripSans-Bold;
    font-size: 0.8em;
    margin-top: auto;
   }

/* ===========================
   6. Item Styles
   =========================== */
   .style-book{
    width : 25vw;
    height : 75vh;
    margin : 10px;
   }

   .style-search-text{
    font-family: TripSans-Bold;
    font-size: 1.2em;
    margin: 20px;
   }

   @media screen and (max-width: 1300px) {
    .style-book{
        width : 25vw;
        height : 65vh;
    }
    
   }

    @media screen and (max-width: 950px) {
    .style-book{
        width : 25vw;
        height : 45vh;
    }
    
   }

   
    
   

   @media screen and (max-width: 770px) {
    .style-book{
        width : 51vw;
        height : 60vh;
    }
    
   }

   @media screen and (max-width: 450px) {
    .style-book{
        width : 70vw;
        height : 60vh;
    }
    
   }