/* ============================================================
   Custom CSS for Nate's Library
   File: style.css
   Author: Nathanaël Canet
   Description: Styles personnalisés pour le projet Flask
   ============================================================ */

/* ===========================
   0. Fonts Imports
   =========================== */
@font-face {
    font-family: TripSans-Medium;
    src: url(/static/fonts/TripsSans/TripSans-Medium.ttf) format('truetype');
}
@font-face {
    font-family: TripSans-Bold;
    src: url(/static/fonts/TripsSans/TripSans-Bold.ttf) format('truetype');
}
@font-face{
    font-family: TripSans-Ultra;
    src: url(/static/fonts/TripsSans/TripSans-Ultra.ttf) format('truetype');
}

@font-face{
    font-family: TripSans-Regular;
    src: url(/static/fonts/TripsSans/TripSans-Regular.ttf) format('truetype');
}
/* ===========================
   1. Global Styles
   =========================== */

body{
    width : 100vw;
    height : max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ===========================
   2. Navbar Styles
   =========================== */
.style-logo-settings{
    width : 100%;
}

.style-container-login-and-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width : 15vw;
}

.style-book-list{
    width : fit-content;

}

.style-container-created-by{
    display: flex;
    justify-content: center;
    align-items: center;
    width : 100%;
    margin-bottom : 10px;
}

.style-created-by{
    font-family: TripSans-Regular;
    font-size: 0.8em;
    color: #000000;
}

#style-name{
    margin:0px
}

.style-litteraly-me{
    border-radius: 50px;
    width : 2em;
}
#style-created-by-text{
    margin-bottom : 0px;
}
#style-name{
    text-decoration: none;
    font-weight: bold;
}

.style-created-by-link{
    text-decoration: none;
    color: #000000;
}

/* ===========================
   3. Accueil Title Styles
   =========================== */
.style-accueil-title{
    font-family : TripSans-Ultra;
    font-size : 2.7em;
    display: inline-block;
}

.style-container-accueil-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width : 100%;
    margin: 20px 0px 15px 0px; 
}

.style-container-created-by{
    display: flex;
}
/* ===========================
   4. Accueil Styles
   =========================== */
.accueil{
    width: 70%;
    height: fit-content;
}

.style-form-search{
    height:fit-content;
    width : 100%;
    display : flex;
    justify-content: center;
    align-items: center;
}

.style-button-search{
    padding-inline : 15px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 30px;
    border : none;
}

#style-icon-search{
    padding-right : 0px;
    margin-left : 5px;
}

#style-word-search{
    padding-block: 8px;
    height : fit-content;
    font-family: TripSans-Medium;
    font-size: 1em;
    margin-right : 10px;
    display:block;
    background-color: #33E0A1;

}

#style-word-search:hover{
    
    color: #000000;
}

.style-form-input{
    width: 80%;
    height: 50px;
    border : none;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 10px 15px;
}

.style-form-input:focus{
    outline: none;
}